*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    display: inline-block;
}

.container{
    width: 800px;
    margin: 0 auto;
    padding: 100px 0;
}

.image-block{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    background: #999;
    position: relative;
}

.image-block .loader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    opacity: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn{
    padding: 15px 20px;
    background: cadetblue;
    color: #fff;
    font-size: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.btn.disabled{
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.history{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.history img{
    width: 25%;
    height: 200px;
    border: 3px solid #555;
    object-fit: cover;
}